<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script>
      // Apply dark mode class based on localStorage before the page is fully visible
      document.addEventListener('DOMContentLoaded', () => {
      if (localStorage.getItem('darkmode') === 'true') {
        document.body.classList.add('darkmode');
      }
      // Add a delay of 0.5 seconds before removing the theme-loading class
      setTimeout(() => {
        document.body.classList.remove('theme-loading');
      }, 250);
      });
    </script>
    <link rel="stylesheet" href="/css/themebtn.css" />
    <link rel="stylesheet" href="/css/loginui.css" />
    <title>CSC Clipboard</title>
  </head>
  <body class="theme-loading">
    <div id="theme-btn">
      <div class="auth-container">
        <% if (typeof user !== 'undefined' && user) {%>
        <button
          class="auth-button text-theme"
          role="button"
          style="text-align: center"
          id="LogoutButton"
        >
          LOGOUT
        </button>
        <% } else { %>
        <button
          class="auth-button text-theme"
          role="button"
          style="text-align: center"
          id="authButton"
        >
          LOGIN
        </button>
        <% } %>
      </div>
      <div class="theme_container">
        <div class="theme_indicator">
          <div class="theme_icon-container">
            <i class="theme_icon fa-solid"></i>
          </div>
        </div>
      </div>
    </div>
    <% if (typeof registering !== 'undefined' && registering) { %>
    <div id="login-container" class="show">
      <div id="login-title" class="text-theme">
        <p1>REGISTER</p1>
      </div>
      <div id="register-form">
        <form action="/register" method="POST">
          <div id="username-input">
            <label for="username-field" class="runame-label text-theme transition-theme"
              >Username</label
            >
            <input
              id="rusername-field"
              class="inputformcode placeholdercolor"
              name="username"
            />
          </div>

          <div id="password-input">
            <label for="password-field" class="rpass-label text-theme transition-theme"
              >Password</label
            >
            <input
              id="rpassword-field"
              class="inputformcode placeholdercolor"
              name="password"
              type="password"
            />
          </div>

          <div id="cpassword-input">
            <label for="cpassword-field" class="rcpass-label text-theme transition-theme"
              >Confirm Password</label
            >
            <input
              id="rcpassword-field"
              class="inputformcode placeholdercolor"
              name="cpassword"
              type="password"
            />
          </div>

          <div id="tiny-container">
            <div
              id="login-error"
              class="text-theme"
              style="
                margin-left: 3vh;
                margin-top: -1vh;
                margin-bottom: 3vh;
                font-size: 1.5vh;
              "
            >
              <% if (typeof regiserror !== 'undefined' && regiserror) { %>
              <p1 style="color: #ff0000"><%= regiserror %></p1>
              <% } %>
            </div>

            <button
              id="loginToButton"
              class="rtiny-button text-theme"
              type="button"
            >
              Already have an account?
            </button>
          </div>

          <div id="login-button">
            <button
              class="button-24"
              role="button"
              style="text-align: center"
              type="submit"
            >
              REGISTER
            </button>
          </div>
        </form>
      </div>
    </div>
    <% } else { %>
    <div
      id="login-container"
      class="hidden <%= typeof logining !== 'undefined' && logining ? 'show' : '' %>"
    >
      <div id="login-title" class="text-theme">
        <p1>LOGIN</p1>
      </div>
      <div id="login-form">
        <form action="/login" method="POST">
          <div id="username-input">
            <label for="username-field" class="uname-label text-theme transition-theme"
              >Username</label
            >
            <input
              id="username-field"
              class="inputformcode placeholdercolor"
              name="username"
            />
          </div>

          <div id="password-input">
            <label for="password-field" class="pass-label text-theme transition-theme"
              >Password</label
            >
            <input
              id="password-field"
              class="inputformcode placeholdercolor"
              name="password"
              type="password"
            />
          </div>

          <div id="tiny-container">
            <div
              id="login-error"
              class="text-theme"
              style="
                margin-left: 3vh;
                margin-top: -1vh;
                margin-bottom: 3vh;
                font-size: 1.5vh;
              "
            >
              <% if (typeof loginerror !== 'undefined' && loginerror) { %>
              <p1 style="color: #ff0000"><%= loginerror %></p1>
              <% } %>
            </div>

            <button
              id="registerToButton"
              class="tiny-button text-theme"
              type="button"
            >
              Don't have an account?
            </button>
          </div>

          <div id="login-button">
            <button
              class="button-24"
              role="button"
              style="text-align: center"
              type="submit"
            >
              LOGIN
            </button>
          </div>
        </form>
      </div>
    </div>
    <% } %>
    <div id="logo-container">
      <img id="logo" src="/images/logo/SWU_logo.webp" alt="CSC Logo" />
    </div>
    <div id="title">
      <div id="title-front"><span style="text-align: center">SWU</span></div>
      <div id="title-back">
        <span style="text-align: center">CLIPBOARD</span>
      </div>
    </div>
    <div id="input-container">
      <form action="/add" method="POST">
        <textarea
          id="inputcode"
          class="inputcode placeholdercolor"
          name="clipboard"
          placeholder="Enter Your Text Here"
          style="resize: none"
        ></textarea>
      </form>
    </div>
    <% if (typeof clipid !== 'undefined' && clipid) { %>
    <div id="id-container">
      <div id="title-back">
        <span id="idofclip" style="text-align: center">ID: <%= clipid %></span>
      </div>
    </div>
    <% } %> 
    <% if (typeof clipout !== 'undefined' && clipout) { %>
      <% if (typeof user !== 'undefined' && user) { %>
        <div id="title">
          <div id="title-front"><span style="text-align: center">GET</span></div>
          <div id="title-back">
            <span style="text-align: center">CLIPBOARD</span>
          </div>
          <div id="title-back"><span style="text-align: center">HERE</span></div>
        </div>
        <form action="/update" method="POST">
          <div id="output-container">
            <input
              id="outputtitle"
              class="placeholdercolor"
              name="title"
              placeholder="Your Output Title Here"
              value="<%= cliptitle %>"
            />
          </div>    
          <div id="output-container">
            <textarea
              id="outputcode"
              class="placeholdercolor"
              name="output"
              placeholder="Your Output Here"
            ><%= clipout %></textarea>
          </div>
          <input type="hidden" name="clipcid" value="<%= typeof clipcurrentid !== 'undefined' ? clipcurrentid : '' %>" />
          <div id="back-container">
            <div style="width: 75vh; display: flex; justify-content: center;">
              <button
                class="button-24"
                role="button"
                id="copyButton"
                style="text-align: center; padding: 1.5vh 1vh; margin-right: 1vh;"
                type="button"
                onclick="copyText('outputcode')"
              >
              <svg xmlns="http://www.w3.org/2000/svg" width="3vh" height="3vh" viewBox="0 0 24 24" fill="none">

                <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                
                <g id="SVGRepo_iconCarrier"> <path d="M15.24 2H11.3458C9.58159 1.99999 8.18418 1.99997 7.09054 2.1476C5.96501 2.29953 5.05402 2.61964 4.33559 3.34096C3.61717 4.06227 3.29833 4.97692 3.14701 6.10697C2.99997 7.205 2.99999 8.60802 3 10.3793V16.2169C3 17.725 3.91995 19.0174 5.22717 19.5592C5.15989 18.6498 5.15994 17.3737 5.16 16.312L5.16 11.3976L5.16 11.3024C5.15993 10.0207 5.15986 8.91644 5.27828 8.03211C5.40519 7.08438 5.69139 6.17592 6.4253 5.43906C7.15921 4.70219 8.06404 4.41485 9.00798 4.28743C9.88877 4.16854 10.9887 4.1686 12.2652 4.16867L12.36 4.16868H15.24L15.3348 4.16867C16.6113 4.1686 17.7088 4.16854 18.5896 4.28743C18.0627 2.94779 16.7616 2 15.24 2Z" fill="#ffffff"/> <path d="M6.6001 11.3974C6.6001 8.67119 6.6001 7.3081 7.44363 6.46118C8.28716 5.61426 9.64481 5.61426 12.3601 5.61426H15.2401C17.9554 5.61426 19.313 5.61426 20.1566 6.46118C21.0001 7.3081 21.0001 8.6712 21.0001 11.3974V16.2167C21.0001 18.9429 21.0001 20.306 20.1566 21.1529C19.313 21.9998 17.9554 21.9998 15.2401 21.9998H12.3601C9.64481 21.9998 8.28716 21.9998 7.44363 21.1529C6.6001 20.306 6.6001 18.9429 6.6001 16.2167V11.3974Z" fill="#ffffff"/> </g>
                
              </svg>
              </button>
              <button
                class="button-24"
                role="button"
                id="backButton"
                style="text-align: center"
                type="button"
                onclick="window.location.href = '/'"
              >
                GET BACK
              </button>
              <% if (typeof clipuname !== 'undefined' && clipuname) { %>
                <% if ( user == clipuname ) { %>
                  <button
                    class="button-24"
                    role="button"
                    id="editButton"
                    style="text-align: center; padding: 1.5vh 1vh; margin-left: 1vh;"
                    type="submit"
                  >
                  <svg xmlns="http://www.w3.org/2000/svg" width="3vh" height="3vh" viewBox="0 0 24 24" fill="none">

                    <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                    
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                    
                    <g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M7 4C5.34315 4 4 5.34315 4 7V17C4 18.6569 5.34315 20 7 20H17C18.6569 20 20 18.6569 20 17V11C20 10.4477 20.4477 10 21 10C21.5523 10 22 10.4477 22 11V17C22 19.7614 19.7614 22 17 22H7C4.23858 22 2 19.7614 2 17V7C2 4.23858 4.23858 2 7 2H13C13.5523 2 14 2.44772 14 3C14 3.55228 13.5523 4 13 4H7Z" fill="#ffffff"/> <path fill-rule="evenodd" clip-rule="evenodd" d="M17.2156 2.82088C17.7412 2.29528 18.4541 2 19.1974 2C19.9407 2 20.6535 2.29528 21.1791 2.82088C21.7047 3.34648 22 4.05934 22 4.80265C22 5.54596 21.7047 6.25883 21.1791 6.78443L20.396 7.56757C20.0055 7.9581 19.3723 7.9581 18.9818 7.56757L16.4324 5.01824C16.0419 4.62771 16.0419 3.99455 16.4324 3.60402L17.2156 2.82088ZM15.0182 6.43245C14.6277 6.04192 13.9945 6.04192 13.604 6.43245L9.14269 10.8938C9.01453 11.0219 8.92362 11.1825 8.87966 11.3583L8.02988 14.7575C7.94468 15.0982 8.04453 15.4587 8.29291 15.7071C8.54129 15.9555 8.90178 16.0553 9.24256 15.9701L12.6417 15.1204C12.8175 15.0764 12.9781 14.9855 13.1062 14.8573L17.5676 10.396C17.9581 10.0055 17.9581 9.37231 17.5676 8.98179L15.0182 6.43245Z" fill="#ffffff"/> </g>
                    
                  </svg>
                  </button>
                <% } %>
              <% } %>
            </div>
          </div>
        </form>
      <% } else { %>
        <div id="title">
          <div id="title-front"><span style="text-align: center">GET</span></div>
          <div id="title-back">
            <span style="text-align: center">CLIPBOARD</span>
          </div>
          <div id="title-back"><span style="text-align: center">HERE</span></div>
        </div>
        <div id="output-container">
          <textarea
            id="outputcode"
            class="placeholdercolor"
            name="output"
            placeholder="Your Output Here"
          ><%= clipout %></textarea>
        </div>
        <div id="back-container">
          <div style="width: 75vh; display: flex; justify-content: center;">
            <button
                  class="button-24"
                  role="button"
                  id="copyButton"
                  style="text-align: center; padding: 1.5vh 1vh; margin-right: 1vh;"
                  type="button"
                  onclick="copyText('outputcode')"
                >
                <svg xmlns="http://www.w3.org/2000/svg" width="3vh" height="3vh" viewBox="0 0 24 24" fill="none">

                  <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                  
                  <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                  
                  <g id="SVGRepo_iconCarrier"> <path d="M15.24 2H11.3458C9.58159 1.99999 8.18418 1.99997 7.09054 2.1476C5.96501 2.29953 5.05402 2.61964 4.33559 3.34096C3.61717 4.06227 3.29833 4.97692 3.14701 6.10697C2.99997 7.205 2.99999 8.60802 3 10.3793V16.2169C3 17.725 3.91995 19.0174 5.22717 19.5592C5.15989 18.6498 5.15994 17.3737 5.16 16.312L5.16 11.3976L5.16 11.3024C5.15993 10.0207 5.15986 8.91644 5.27828 8.03211C5.40519 7.08438 5.69139 6.17592 6.4253 5.43906C7.15921 4.70219 8.06404 4.41485 9.00798 4.28743C9.88877 4.16854 10.9887 4.1686 12.2652 4.16867L12.36 4.16868H15.24L15.3348 4.16867C16.6113 4.1686 17.7088 4.16854 18.5896 4.28743C18.0627 2.94779 16.7616 2 15.24 2Z" fill="#ffffff"/> <path d="M6.6001 11.3974C6.6001 8.67119 6.6001 7.3081 7.44363 6.46118C8.28716 5.61426 9.64481 5.61426 12.3601 5.61426H15.2401C17.9554 5.61426 19.313 5.61426 20.1566 6.46118C21.0001 7.3081 21.0001 8.6712 21.0001 11.3974V16.2167C21.0001 18.9429 21.0001 20.306 20.1566 21.1529C19.313 21.9998 17.9554 21.9998 15.2401 21.9998H12.3601C9.64481 21.9998 8.28716 21.9998 7.44363 21.1529C6.6001 20.306 6.6001 18.9429 6.6001 16.2167V11.3974Z" fill="#ffffff"/> </g>
                  
                </svg>
                </button>
            <button
              class="button-24"
              role="button"
              style="text-align: center"
              onclick="window.location.href = '/'"
            >
              GET BACK
            </button>
          </div>
        </div>
      <% } %>
    <% } else { %>
    <div id="title">
      <% if (typeof clipnotfound !== 'undefined' && clipnotfound) { %>
      <div id="title-front" class="cliperror">
        <span style="text-align: center"><%= clipnotfound %></span>
      </div>
      <script>
        setTimeout(() => {
          window.location.href = "/";
        }, 2000);
      </script>
      <% } else { %>
      <div id="title-front"><span style="text-align: center">ENTER</span></div>
      <div id="title-back">
        <span style="text-align: center">CLIPBOARD</span>
      </div>
      <div id="title-back"><span style="text-align: center">ID</span></div>
      <div id="title-back"><span style="text-align: center">HERE</span></div>
      <% } %>
    </div>
    <div id="input-container">
      <form action="/retrieve" method="POST">
        <input
          class="inputcode placeholdercolor"
          name="retrieveID"
          style="text-align: center;"
          placeholder="Eg. 5281"
        />
      </form>
    </div>
    <% } %>
    <% if (typeof user !== 'undefined' && user) { %>
    <div id="title">
      <div id="title-front"><span style="text-align: center">WELCOME</span></div>
      <div id="title-back">
        <span id="usertitle" style="text-align: center;"><%= user.toUpperCase()+"!!" %></span>
      </div>
    </div>
    <form method="POST">
      <div id="input-container">
        <button
        class="button-24"
        role="button"
        style="text-align: center; padding: 1.5vh 1vh; margin-right: 1vh; line-height: normal;"
        type="submit"
        formaction="/sort"
        >
          <svg xmlns="http://www.w3.org/2000/svg" width="3vh" height="3vh" viewBox="0 0 24 24" fill="none">

          <g id="SVGRepo_bgCarrier" stroke-width="0"/>
          
          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
          
          <g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M17.1841 6.69223C17.063 6.42309 16.7953 6.25 16.5002 6.25C16.2051 6.25 15.9374 6.42309 15.8162 6.69223L11.3162 16.6922C11.1463 17.07 11.3147 17.514 11.6924 17.6839C12.0701 17.8539 12.5141 17.6855 12.6841 17.3078L14.1215 14.1136H18.8789L20.3162 17.3078C20.4862 17.6855 20.9302 17.8539 21.308 17.6839C21.6857 17.514 21.8541 17.07 21.6841 16.6922L17.1841 6.69223ZM16.5002 8.82764L14.7965 12.6136H18.2039L16.5002 8.82764Z" fill="#ffffff"/> <path opacity="0.5" fill-rule="evenodd" clip-rule="evenodd" d="M2.25 7C2.25 6.58579 2.58579 6.25 3 6.25H13C13.4142 6.25 13.75 6.58579 13.75 7C13.75 7.41421 13.4142 7.75 13 7.75H3C2.58579 7.75 2.25 7.41421 2.25 7Z" fill="#ffffff"/> <path opacity="0.5" d="M2.25 12C2.25 11.5858 2.58579 11.25 3 11.25H10C10.4142 11.25 10.75 11.5858 10.75 12C10.75 12.4142 10.4142 12.75 10 12.75H3C2.58579 12.75 2.25 12.4142 2.25 12Z" fill="#ffffff"/> <path opacity="0.5" d="M2.25 17C2.25 16.5858 2.58579 16.25 3 16.25H8C8.41421 16.25 8.75 16.5858 8.75 17C8.75 17.4142 8.41421 17.75 8 17.75H3C2.58579 17.75 2.25 17.4142 2.25 17Z" fill="#ffffff"/> </g>
          
          </svg>
        </button>
        <input
          class="inputcode placeholdercolor"
          name="searchinput"
          style="text-align: center; height: auto;"
          placeholder="Search Your History"
          value="<%= typeof searchinput !== 'undefined' ? searchinput : '' %>"
        />
        <button
        class="button-24"
        role="button"
        style="text-align: center; padding: 1.5vh 1vh; margin-left: 1vh; line-height: normal;"
        type="submit"
        formaction="/search"
        >
          <svg xmlns="http://www.w3.org/2000/svg" width="3vh" height="2vh" viewBox="0 0 24 24" fill="none">

            <g id="SVGRepo_bgCarrier" stroke-width="0"/>
            
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
            
            <g id="SVGRepo_iconCarrier"> <path d="M14.9536 14.9458L21 21M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> </g>
            
            </svg>
        </button>
      </div>
    </form>
    <form action="/delete" method="POST">
      <div id="history-container" style="display: flex; justify-content: center; margin-top: 3vh;">
        <div class="clipcontainer placeholdercolor">
          <div class="clipheader">
            <div class="text-theme clipcellhead">SELECT</div>
            <div class="text-theme clipcellhead">ID</div>
            <div class="text-theme clipcellhead">TITLE</div>
            <div class="text-theme clipcellhead">DATE</div>
          </div>
          <% if (typeof userclip !== 'undefined' && userclip) { %>
            <% if (userclip && userclip.length > 0) { %>
              <% userclip.forEach(function(clip) { %>
                <div
                  class="clip-row"
                  data-id="<%= clip.ID %>"
                  title="Click to load this clip"
                >
                  <div onclick="event.stopPropagation();" class="text-theme clipcell">
                    <input type="checkbox" name="deleteIDs" value="<%= clip.ID %>">
                  </div>
                  <div class="text-theme clipcell"><%= clip.ID %></div>
                  <div class="text-theme clipcell"><%= clip.title %></div>
                  <div class="text-theme clipcell"><%= clip.time %></div>
                </div>
              <% }); %>
            <% } else { %>
              <div class="clip-row">
                <div class="text-theme clipcell" colspan="4">No History</div>
              </div>
            <% } %>
          <% } %>
        </div>
      </div>
      <% if (typeof userclip !== 'undefined' && userclip) { %>
        <% if (userclip && userclip.length > 0) { %>
        <div id="back-container">
          <button
            class="button-24"
            role="button"
            style="text-align: center; padding: 1.5vh 1vh; margin-right: 1vh;"
            type="button"
            onclick="deleteNewest()"
          >
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="3vh" height="3vh" viewBox="0 -0.5 17 17" version="1.1" class="si-glyph si-glyph-triangle-up" fill="#000000">

            <g id="SVGRepo_bgCarrier" stroke-width="0"/>
            
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
            
            <g id="SVGRepo_iconCarrier"> <title>Delete Newest</title> <defs> </defs> <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <path d="M7.96,2.392 C8.541,1.812 9.482,1.812 10.064,2.392 L16.506,8.836 C17.088,9.417 17.345,10.939 15.506,10.939 L2.518,10.939 C0.616,10.939 0.936,9.418 1.517,8.836 L7.96,2.392 L7.96,2.392 Z" fill="#ffffff" class="si-glyph-fill"> </path> </g> </g>
            
            </svg>
          </button>
          <button
            class="button-24"
            role="button"
            style="text-align: center"
            type="submit"
          >
            DELETE
          </button>
          <button
            class="button-24"
            role="button"
            style="text-align: center; padding: 1.5vh 1vh; margin-left: 1vh;"
            type="button"
            onclick="deleteOldest()"
          >
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="3vh" height="3vh" viewBox="0 -0.5 17 17" version="1.1" class="si-glyph si-glyph-triangle-down" fill="#000000">

            <g id="SVGRepo_bgCarrier" stroke-width="0"/>
            
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
            
            <g id="SVGRepo_iconCarrier"> <title>Delete Oldest</title> <defs> </defs> <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <path d="M10.106,12.69 C9.525,13.27 8.584,13.27 8.002,12.69 L1.561,6.246 C0.979,5.665 0.722,4.143 2.561,4.143 L15.549,4.143 C17.45,4.143 17.131,5.664 16.549,6.246 L10.106,12.69 L10.106,12.69 Z" fill="#ffffff" class="si-glyph-fill"> </path> </g> </g>
            
            </svg>
          </button>
        </div>
        <% } %>
      <% } %>
    </form>
    <form id="retrieveForm" method="POST" action="/retrieve" style="display: none;">
      <input type="hidden" name="retrieveID" id="retrieveID" />
    </form>
    <% } %>
  </body>

  <style>
    @import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
    
    body.theme-loading {
      visibility: hidden;
    }

    #theme-btn {
      display: flex;
      justify-content: space-between;
    }
    #logo-container {
      display: flex;
      justify-content: center;
      margin-top: 5%;
      user-select: none;
    }
    #id-container {
      display: flex;
      justify-content: center;
      margin-top: 3vh;
    }
    #back-container {
      display: flex;
      justify-content: center;
      margin-top: 2vh;
      margin-bottom: 5%;
    }
    #logo {
      width: 30vh;
      transition: all 0.5s;
    }

    @media screen and (max-width: 350px) {
      #logo {
        width: 20vh;
      }
    }

    .button-24 {
      background: #ff0000;
      border: 0.1vh solid #ff0000;
      border-radius: 0.6vh;
      box-sizing: border-box;
      box-shadow: 0 0 1vh rgb(255, 0, 0);
      color: #ffffff;
      cursor: pointer;
      display: inline-block;
      font-size: 2vh;
      line-height: 2vh;
      outline: 0;
      padding: 1.2vh 4.4vh;
      text-align: center;
      text-rendering: geometricprecision;
      text-transform: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: middle;
      transition: all 0.25s;
    }

    .button-24:hover,
    .button-24:active {
      background-color: initial;
      background-position: 0 0;
      color: rgb(255, 0, 0);
      transition: all 0.25s;
    }

    .button-24:active {
      opacity: 0.5;
    }

    @media screen and (max-width: 450px) {
      .button-24 {
        padding: 0.3vh 0.5vh;
      }
    }

    .auth-button {
      background: #cecece;
      border: 0.1vh solid #cecece;
      height: 4vh;
      border-radius: 0.6vh;
      box-sizing: border-box;
      box-shadow: 0 0 1vh rgb(212, 212, 212);
      font-weight: 500;
      cursor: pointer;
      display: inline-block;
      font-size: 2vh;
      line-height: 2vh;
      outline: 0;
      padding-left: 2vh;
      padding-right: 2vh;
      text-align: center;
      text-rendering: geometricprecision;
      text-transform: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: middle;
      transition: all 0.25s;
    }

    .auth-button:hover,
    .auth-button:active {
      background-color: initial;
      background-position: 0 0;
      color: rgb(100, 100, 100);
      transition: all 0.25s;
    }

    .auth-button:active {
      opacity: 0.5;
    }
  </style>
  <script src="/js/themebtn.js"></script>
  <script>
    function deleteNewest() {
      window.location.href = "/delete/first";
    }

    function deleteOldest() {
      window.location.href = "/delete/last";
    }

    function copyText(id) {
      const textarea = document.getElementById(id);
      textarea.select();
      document.execCommand("copy");
      alert("Copied!");
    }

    // Handle row click to submit retrieve form
    document.querySelectorAll(".clip-row").forEach((row) => {
      row.addEventListener("click", function () {
        const clipID = this.getAttribute("data-id");
        document.getElementById("retrieveID").value = clipID;
        document.getElementById("retrieveForm").submit();
      });
    });

    document.querySelectorAll(".inputcode").forEach(function (element) {
    element.addEventListener("keydown", function (event) {
        if (event.key === "Enter" && !event.shiftKey) {
        event.preventDefault(); // Prevent new line
        this.form.submit(); // Submit the form
        }
    });
    });

    <% if (typeof user !== 'undefined' && user) { %>
        document.getElementById("LogoutButton").addEventListener("click", function() {
        window.location.href = "/logout";
    });
    <% } else { %>
        document.getElementById("authButton").addEventListener("click", function() {
        let element = document.getElementById("login-container");

        if (element) { // Check if the element exists
            if (element.classList.contains("hidden")) {
                element.classList.remove("hidden");
                element.classList.add("show");
            } else {
                element.classList.remove("show");
                element.classList.add("hidden");
            }
        } else {
            console.error("Element with ID 'toggleAuth' not found!");
        }
    });
    <% } %>

    <% if (typeof registering !== 'undefined' && registering) { %>
        document.getElementById("loginToButton").addEventListener("click", function(event) {
        event.preventDefault(); // Prevent any default behavior
        console.log("Login to button clicked");
        window.location.href = "/login"; // Navigate to /register
        });
    <% } else { %>
    document.getElementById("registerToButton").addEventListener("click", function(event) {
        event.preventDefault(); // Prevent any default behavior
        window.location.href = "/register"; // Navigate to /register
    });
    <% } %>
  </script>
</html>
