<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/themebtn.css" />
    <link rel="stylesheet" href="/css/loginui.css" />
    <title>CSC Clipboard</title>
  </head>
  <body>
    <div id="theme-btn">
      <div class="auth-container">
        <% if (typeof user !== 'undefined' && user) {%>
        <button
          class="auth-button text-theme"
          role="button"
          style="text-align: center"
          id="LogoutButton"
        >
          LOGOUT
        </button>
        <% } else { %>
        <button
          class="auth-button text-theme"
          role="button"
          style="text-align: center"
          id="authButton"
        >
          LOGIN
        </button>
        <% } %>
      </div>
      <div class="theme_container">
        <div class="theme_indicator">
          <div class="theme_icon-container">
            <i class="theme_icon fa-solid"></i>
          </div>
        </div>
      </div>
    </div>
    <% if (typeof registering !== 'undefined' && registering) { %>
    <div id="login-container" class="show">
      <div id="login-title" class="text-theme">
        <p1>REGISTER</p1>
      </div>
      <div id="register-form">
        <form action="/register" method="POST">
          <div id="username-input">
            <label for="username-field" class="runame-label text-theme transition-theme"
              >Username</label
            >
            <input
              id="rusername-field"
              class="inputformcode placeholdercolor"
              name="username"
            />
          </div>

          <div id="password-input">
            <label for="password-field" class="rpass-label text-theme transition-theme"
              >Password</label
            >
            <input
              id="rpassword-field"
              class="inputformcode placeholdercolor"
              name="password"
              type="password"
            />
          </div>

          <div id="cpassword-input">
            <label for="cpassword-field" class="rcpass-label text-theme transition-theme"
              >Confirm Password</label
            >
            <input
              id="rcpassword-field"
              class="inputformcode placeholdercolor"
              name="cpassword"
              type="password"
            />
          </div>

          <div id="tiny-container">
            <div
              id="login-error"
              class="text-theme"
              style="
                margin-left: 3vh;
                margin-top: -1vh;
                margin-bottom: 3vh;
                font-size: 1.5vh;
              "
            >
              <% if (typeof regiserror !== 'undefined' && regiserror) { %>
              <p1 style="color: #ff0000"><%= regiserror %></p1>
              <% } %>
            </div>

            <button
              id="loginToButton"
              class="rtiny-button text-theme"
              type="button"
            >
              Already have an account?
            </button>
          </div>

          <div id="login-button">
            <button
              class="button-24"
              role="button"
              style="text-align: center"
              type="submit"
            >
              REGISTER
            </button>
          </div>
        </form>
      </div>
    </div>
    <% } else { %>
    <div
      id="login-container"
      class="hidden <%= typeof logining !== 'undefined' && logining ? 'show' : '' %>"
    >
      <div id="login-title" class="text-theme">
        <p1>LOGIN</p1>
      </div>
      <div id="login-form">
        <form action="/login" method="POST">
          <div id="username-input">
            <label for="username-field" class="uname-label text-theme transition-theme"
              >Username</label
            >
            <input
              id="username-field"
              class="inputformcode placeholdercolor"
              name="username"
            />
          </div>

          <div id="password-input">
            <label for="password-field" class="pass-label text-theme transition-theme"
              >Password</label
            >
            <input
              id="password-field"
              class="inputformcode placeholdercolor"
              name="password"
              type="password"
            />
          </div>

          <div id="tiny-container">
            <div
              id="login-error"
              class="text-theme"
              style="
                margin-left: 3vh;
                margin-top: -1vh;
                margin-bottom: 3vh;
                font-size: 1.5vh;
              "
            >
              <% if (typeof loginerror !== 'undefined' && loginerror) { %>
              <p1 style="color: #ff0000"><%= loginerror %></p1>
              <% } %>
            </div>

            <button
              id="registerToButton"
              class="tiny-button text-theme"
              type="button"
            >
              Don't have an account?
            </button>
          </div>

          <div id="login-button">
            <button
              class="button-24"
              role="button"
              style="text-align: center"
              type="submit"
            >
              LOGIN
            </button>
          </div>
        </form>
      </div>
    </div>
    <% } %>
    <div id="logo-container">
      <img id="logo" src="/images/logo/SWU_logo.png" alt="CSC Logo" />
    </div>
    <div id="title">
      <div id="title-front"><span style="text-align: center">SWU</span></div>
      <div id="title-back">
        <span style="text-align: center">CLIPBOARD</span>
      </div>
    </div>
    <div id="input-container">
      <form action="/add" method="POST">
        <textarea
          id="inputcode"
          class="inputcode placeholdercolor"
          name="clipboard"
          placeholder="Enter Your Text Here"
          style="resize: none"
        ></textarea>
      </form>
    </div>
    <% if (typeof clipid !== 'undefined' && clipid) { %>
    <div id="id-container">
      <div id="title-back">
        <span style="text-align: center">ID: <%= clipid %></span>
      </div>
    </div>
    <% } %> <% if (typeof clipout !== 'undefined' && clipout) { %>
    <div id="title">
      <div id="title-front"><span style="text-align: center">GET</span></div>
      <div id="title-back">
        <span style="text-align: center">CLIPBOARD</span>
      </div>
      <div id="title-back"><span style="text-align: center">HERE</span></div>
    </div>
    <div id="output-container">
      <textarea
        id="outputcode"
        class="placeholdercolor"
        name="output"
        placeholder="Your Output Here"
      >
<%= clipout %></textarea
      >
    </div>
    <div id="back-container">
      <button
        class="button-24"
        role="button"
        style="text-align: center"
        onclick="window.location.href = '/'"
      >
        GET BACK
      </button>
    </div>
    <% } else { %>
    <div id="title">
      <% if (typeof clipnotfound !== 'undefined' && clipnotfound) { %>
      <div id="title-front" class="cliperror">
        <span style="text-align: center"><%= clipnotfound %></span>
      </div>
      <script>
        setTimeout(() => {
          window.location.href = "/";
        }, 2000);
      </script>
      <% } else { %>
      <div id="title-front"><span style="text-align: center">ENTER</span></div>
      <div id="title-back">
        <span style="text-align: center">CLIPBOARD</span>
      </div>
      <div id="title-back"><span style="text-align: center">ID</span></div>
      <div id="title-back"><span style="text-align: center">HERE</span></div>
      <% } %>
    </div>
    <div id="input-container">
      <form action="/retrieve" method="POST">
        <input
          class="inputcode placeholdercolor"
          name="retrieveID"
          placeholder="Eg. 5281"
        />
      </form>
    </div>
    <% } %>
    <% if (typeof user !== 'undefined' && user) { %>
    <div id="title">
      <div id="title-front"><span style="text-align: center">WELCOME</span></div>
      <div id="title-back">
        <span style="text-align: center;"><%= user.toUpperCase()+"!!" %></span>
      </div>
    </div>
    <div id="history-container" style="display: flex; justify-content: center; margin: 3vh;">
      <table class="cliptable placeholdercolor">
        <thead>
          <tr>
            <th class="text-theme clipcellhead">CLIP ID</th>
          </tr>
        </thead>
        <tbody>
          <% if (typeof userclip !== 'undefined' && userclip) { %>
            <% if (userclip == 0) { %>
              <tr>
                <td class="text-theme clipcell">
                  No History
                </td>
              </tr>
            <% } else { %>
              <% userclip.forEach(function(clip) { %>
                <tr onclick="document.getElementById('form-<%= clip.ID %>').submit();">
                  <form action="/retrieve" method="POST" id="form-<%= clip.ID %>">
                    <input type="hidden" name="retrieveID" value="<%= clip.ID %>" />
                    <td class="text-theme clipcell">
                      <%= "ID: " + clip.ID + " " + "<" + clip.Time + ">"  %>
                    </td>
                  </form>
                </tr>
              <% }); %>
            <% } %>
          <% } %>
        </tbody>
      </table>
    </div>
    <% } %>
  </body>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
    #theme-btn {
      display: flex;
      justify-content: space-between;
    }
    #logo-container {
      display: flex;
      justify-content: center;
      margin-top: 5%;
      user-select: none;
    }
    #id-container {
      display: flex;
      justify-content: center;
      margin-top: 3vh;
    }
    #back-container {
      display: flex;
      justify-content: center;
      margin-top: 2vh;
      margin-bottom: 5%;
    }
    #logo {
      width: 30vh;
      transition: all 0.5s;
    }

    @media screen and (max-width: 350px) {
      #logo {
        width: 20vh;
      }
    }

    .button-24 {
      background: #ff0000;
      border: 0.1vh solid #ff0000;
      border-radius: 0.6vh;
      box-sizing: border-box;
      box-shadow: 0 0 1vh rgb(255, 0, 0);
      color: #ffffff;
      cursor: pointer;
      display: inline-block;
      font-size: 2vh;
      line-height: 2vh;
      outline: 0;
      padding: 1.2vh 4.4vh;
      text-align: center;
      text-rendering: geometricprecision;
      text-transform: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: middle;
      transition: all 0.25s;
    }

    .button-24:hover,
    .button-24:active {
      background-color: initial;
      background-position: 0 0;
      color: rgb(255, 0, 0);
      transition: all 0.25s;
    }

    .button-24:active {
      opacity: 0.5;
    }

    @media screen and (max-width: 450px) {
      .button-24 {
        padding: 0.3vh 0.5vh;
      }
    }

    .auth-button {
      background: #cecece;
      border: 0.1vh solid #cecece;
      height: 4vh;
      border-radius: 0.6vh;
      box-sizing: border-box;
      box-shadow: 0 0 1vh rgb(212, 212, 212);
      font-weight: 500;
      cursor: pointer;
      display: inline-block;
      font-size: 2vh;
      line-height: 2vh;
      outline: 0;
      padding-left: 2vh;
      padding-right: 2vh;
      text-align: center;
      text-rendering: geometricprecision;
      text-transform: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: middle;
      transition: all 0.25s;
    }

    .auth-button:hover,
    .auth-button:active {
      background-color: initial;
      background-position: 0 0;
      color: rgb(100, 100, 100);
      transition: all 0.25s;
    }

    .auth-button:active {
      opacity: 0.5;
    }
  </style>
  <script src="/js/themebtn.js"></script>
  <script>
    document.querySelectorAll(".inputcode").forEach(function (element) {
    element.addEventListener("keydown", function (event) {
        if (event.key === "Enter" && !event.shiftKey) {
        event.preventDefault(); // Prevent new line
        this.form.submit(); // Submit the form
        }
    });
    });

    <% if (typeof user !== 'undefined' && user) { %>
        document.getElementById("LogoutButton").addEventListener("click", function() {
        window.location.href = "/logout";
    });
    <% } else { %>
        document.getElementById("authButton").addEventListener("click", function() {
        let element = document.getElementById("login-container");

        if (element) { // Check if the element exists
            if (element.classList.contains("hidden")) {
                element.classList.remove("hidden");
                element.classList.add("show");
            } else {
                element.classList.remove("show");
                element.classList.add("hidden");
            }
        } else {
            console.error("Element with ID 'toggleAuth' not found!");
        }
    });
    <% } %>

    <% if (typeof registering !== 'undefined' && registering) { %>
        document.getElementById("loginToButton").addEventListener("click", function(event) {
        event.preventDefault(); // Prevent any default behavior
        console.log("Login to button clicked");
        window.location.href = "/login"; // Navigate to /register
        });
    <% } else { %>
    document.getElementById("registerToButton").addEventListener("click", function(event) {
        event.preventDefault(); // Prevent any default behavior
        window.location.href = "/register"; // Navigate to /register
    });
    <% } %>
  </script>
</html>
